<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Ruleta</title>
</head>
<body>
    <h2>Lista</h2>
    <form action="/roulette" method="post">
        <button type="submit">Armar la ruleta!</button>
        <% for( let i = 0; i < locals.data.length; i++ ) { %>
            <% let id = locals.data[i].id %> 
            <section>
                <h3><%= locals.data[i].name %></h3>
                <input type="checkbox" class="checkbox" name="statusfor<%= id %>" id="<%= id %>" value="active" checked>
                <div>
                    <label class="neg" for="<%= id %>">No participa</label>
                    <label class="aff" for="<%= id %>">Participa</label>
                </div>
            </section>
        <% } %>
    </form>
</body>
</html>