<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/header.ejs") %> 
    <main>
        <%- include("./partials/sidebar.ejs") %> 
        <div id="main-box">
            <div id="main-div-header">
                <h3>Listado de archivos convertidos</h3>
            </div>
            <ul id="file-list">
                <% for( let i = 0; i < locals.data.length; i++ ) { %>
                    <% let file = locals.data[i]; %>
                    <li class="each-file">
                        <a href="/view/<%= file.id %>">
                            <img class="file-img" src="/img/json.png" alt="<%= file.name %>"> 
                            <h3 class="file-title"><%= file.name %>.json</h3>
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </main>
</body>
</html>